#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.quantity{
  display: flex;
  flex-direction: row;
}
.quantity_minus,.quantity_plus{
  width: 2rem;
  height: 1.5rem;
  border:1px solid red;
  }
  .loginbtn{
    display: flex;
    flex-direction: row;
  }